$bg-color: #bada55;
body { 
  margin: 0; 
  background-color: $bg-color; 
}


#root {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQehDUC9hh3QRSmuMdZuTpi7Q3s0TPNsXCKK7tJwSUiAKhNBI54A");
  backgroundColor: #cccccc;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 50%;
  margin-top: 150px;
  margin-left: 330px;
}